.modal {
  overflow: auto;
}

.button-box, .image-box, .image-box-static {
  background-color: #F5F6F7;
  width: 100%;
  padding-top: 100%;
  border-radius: .5rem;
  position: relative;
  overflow: hidden;
}

.button-box .btn-upload {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.button-box .btn-upload .text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.button-box .btn-upload .text i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-box .btn-upload .text small {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-box .btn-upload input {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  opacity: 0;
  overflow: hidden;
  z-index: -1;
  cursor: pointer;
}

.image-box, .image-box-static {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.image-box .actions {
  width: 100%;
  padding: .5rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  background: -moz-linear-gradient(top, rgba(163,163,163,0.65) 0%, rgba(163,163,163,0) 100%);
  background: -webkit-linear-gradient(top, rgba(163,163,163,0.65) 0%,rgba(163,163,163,0) 100%);
  background: linear-gradient(to bottom, rgba(163,163,163,0.65) 0%,rgba(163,163,163,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6a3a3a3', endColorstr='#00a3a3a3',GradientType=0 );
}

.image-box .actions a {
  cursor: pointer;
}

.image-box .actions i::before {
  line-height: initial;
}