a:hover {
  text-decoration: none;
}

.navbar {
	box-shadow: 0 4px 8px -3px rgba(0, 0, 0, .1);
}

.navbar-toggler {
	padding: 0;
  border: none;
  outline: none;
}

/*.navbar-nav .nav-item {
	margin: 0 .25rem;
}

.navbar-nav .nav-item:first-child {
	margin-left: 0;
}

.navbar-nav .nav-item:last-child {
	margin-right: 0;
}*/

.navbar-nav.guest, .navbar-nav.auth {
	flex-direction: row;
	float: right;
}

.navbar-nav.guest .nav-item, .navbar-nav.auth .nav-item {
	margin-left: 1rem;
}

.navbar-nav .nav-item .nav-link {
	font-weight: 500;
}

.nav-link {
	position: relative;
}

.nav-link.red-dot::after {
	content: "";
  height: 14px;
  width: 14px;
  background-color: #f44336;
  border: 2px solid #fff;
  border-radius: 25px;
  position: absolute;
  right: -2px;
  top: 12px;
}

.dropdown-menu {
	padding-top: 0;
  border: none;
}

.dropdown-item {
	padding: .5rem 1rem;
	/*display: flex;
	align-items: center;*/
}

.dropdown-toggle::after {
  margin-left: 10px;
  vertical-align: 3px;
}

.account-dropdown .dropdown-toggle::after {
  content: none;
}

.account-dropdown .dropdown-item {
	padding-top: .25rem;
	padding-bottom: .25rem;
}

.dropdown-item i {
	margin-right: 1rem;
}

.dropdown-divider {
	margin: 0;
}

.search {
	margin: .5rem 0;
	padding-right: 1rem;
	background-color: #f8f9fa;
	border-radius: 25px;
	display: flex;
	width: 100%;
}

.search input {
	width: auto;
	background-color: transparent;
	border: none;
	padding: 0;
	flex-grow: 1;
}

.search button {
	border-radius: 25px;
}

.search input:focus, .search button:focus {
	background-color: transparent;
	box-shadow: none;
}

@media (min-width: 992px) {
	.navbar-nav.guest .nav-item, .navbar-nav.auth .nav-item {
		margin-left: .5rem;
	}

	.nav-link.red-dot::after {
		content: "";
	  height: 14px;
	  width: 14px;
	  background-color: #f44336;
	  border: 2px solid #fff;
	  border-radius: 25px;
	  position: absolute;
	  right: 6px;
	  top: 12px;
	}

	.dropdown-menu {
		margin-top: 1rem;
		padding-top: .5rem;
		border: none;
		border-radius: .5rem;
		box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, .1);
	}

	.search {
		width: 50%;
		margin: 0;
	}
}

/* Included color classes..
    .red
	.blue
	.yellow
	.green
	.navy
*/
figure.snip1174 {
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  background-color: #1a1a1a;
  color: #ffffff;
  text-align: left;
  margin: 10px;
  width: 100%;
  border-radius: 0px;
}
figure.snip1174 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
figure.snip1174 img {
  max-width: 100%;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  vertical-align: top;
  opacity: 0.7;
}
figure.snip1174 figcaption {
  position: absolute;
  padding: 40px 25px;
  top: 0;
  left: 0;
}
figure.snip1174 h2,
figure.snip1174 p {
  margin: 0;
  padding: 0;
}
figure.snip1174 h2 {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 100;
  font-size: 1.8em;
}
figure.snip1174 p {
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 1.4em;
}
figure.snip1174 a {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.8em;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  opacity: 0;
}
figure.snip1174 a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
figure.snip1174.blue {
  background-color: #20638f;
}
figure.snip1174.yellow {
  background-color: #c87f0a;
}
figure.snip1174.green {
  background-color: #1e8449;
}
figure.snip1174.navy {
  background-color: #222f3d;
}
figure.snip1174.red {
  background-color: #962d22;
}
figure.snip1174:hover img,
figure.snip1174.hover img {
  opacity: 0;
  -webkit-transform: scale(1);
  transform: scale(1);
}
figure.snip1174:hover a,
figure.snip1174.hover a {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
